<ol class="breadcrumb">
	<li class="breadcrumb-item" >
	  <a routerLink="/customers/list" >{{ 'customers' | uppercase }}</a>
	</li>
  <li class="breadcrumb-item active">{{ title | uppercase }}</li>
</ol>
<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> All Customers</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let customer of customers" >
                  <td>{{ customer.customer_name }}</td>
                  <td>{{ customer.customer_mobile }}</td>
                  <td>{{ customer.customer_email }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
           <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                Showing {{ table.getStart() + 1 }} 
                to {{ table.getStart() + table.getNoOfRecords() }} 
                of {{ table.getTotal() }} entries
              </div>
           </div>
           <div class="col-sm-12 col-md-7">
              <div class="pull-right" >
                 <ul class="pagination">
                    <li class="page-item" [ngClass]="{ 'disabled' : !table.getFirstPage() }" (click)="table.goToFirstPage()">
                      <a class="page-link">First</a>
                    </li>
                    <li class="page-item" [ngClass]="{ 'disabled' : !table.getPreviousPage() }" (click)="table.goToPreviousPage()" >
                      <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link">{{ table.getCurrentPage() }}</a>
                    </li>
                    <li class="page-item" [ngClass]="{ 'disabled' : !table.getNextPage() }" (click)="table.goToNextPage()" >
                      <a class="page-link">Next</a>
                    </li>
                    <li class="page-item" [ngClass]="{ 'disabled' : !table.getLastPage() }" (click)="table.goToLastPage()">
                      <a class="page-link">Last</a>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
