<ol class="breadcrumb">
	<li class="breadcrumb-item" >
	  <a routerLink="/customers/list" >{{ 'customers' | uppercase }}</a>
	</li>
  <li class="breadcrumb-item active">{{ title | uppercase }}</li>
</ol>
<form [formGroup]="customerFrom" (ngSubmit)="addCustomer()" >
<div class="row" >
	<div class="col-md-6 col-lg-6 col-xs-12" >
		<div class="card border-secondary mx-auto">
		  <div class="card-header bg-secondary text-white">Basic Details</div>
		  <div class="card-body">
		    
		      <div class="form-group">
		        <label for="exampleInputName">Name</label>
	            <input class="form-control" placeholder="Enter name" formControlName="name" >
	            <span *ngIf="customerFrom.get('name').invalid && customerFrom.get('name').touched" class="font-italic text-danger">Enter valid name</span>
		      </div>
		      <div class="form-group">
		        <label for="exampleInputName">Mobile</label>
	            <input class="form-control" placeholder="Enter mobile number" formControlName="mobile" >
	            <span *ngIf="customerFrom.get('mobile').invalid && customerFrom.get('mobile').touched" class="font-italic text-danger">Enter valid mobile number</span>
		      </div>
		      <div class="form-group">
		        <label for="exampleInputEmail1">Email</label>
		        <input class="form-control" placeholder="Enter email" formControlName="email" >
		        <span *ngIf="customerFrom.get('email').invalid && customerFrom.get('email').touched && !customerFrom.get('email').errors?.emailTaken" class="font-italic text-danger">Enter valid email</span>
		        <span *ngIf="customerFrom.get('email').errors?.emailTaken" class="font-italic text-danger">Email already exist.</span>
		      </div>
		  </div>
		</div>
	</div>

	<div class="col-md-6 col-lg-6 col-xs-12" >
		<div class="card border-secondary mx-auto" formGroupName="address" >
		  <div class="card-header bg-secondary text-white">Address</div>
		  <div class="card-body">
		    
		      <div class="form-group">
		      	<label for="exampleInputName">Line #1</label>
	            <input class="form-control" placeholder="Enter street #1" formControlName="street_1" >
	            <span *ngIf="customerFrom.get('address').get('street_1').invalid && customerFrom.get('address').get('street_1').touched" class="font-italic text-danger">Enter valid street</span>
		      </div>
		      <div class="form-group" >
		      	<label for="exampleInputLastName">Line #2</label>
	            <input class="form-control" placeholder="Enter street #2 if any" formControlName="street_2">
		      </div>
		      <div class="form-group" >
		      	<div class="form-row">
              		<div class="col-md-6 col-sm-12 col-xs-12">
              			<label for="exampleInputEmail1">Area</label>
		        		<input class="form-control" placeholder="Enter area" formControlName="area">
              		</div>
              		<div class="col-md-6 col-sm-12 col-xs-12">
              			<label for="exampleInputEmail1">Country</label>
              			<select class="form-control" formControlName="country"  >
              				<option value="" disabled="disabled" >-- country --</option>
              				<option *ngFor="let country of countries" [value]=country.country_id >{{ country.country_code + ' - ' + country.country_name }}</option>
              			</select>
              			<span *ngIf="customerFrom.get('address').get('country').invalid && customerFrom.get('address').get('country').touched" class="font-italic text-danger">Select country</span>
		        	</div>
              	</div>
		      </div>
		      <div class="form-group" >
		      	<div class="form-row">
              		<div class="col-md-6 col-sm-12 col-xs-12">
              			<label for="exampleInputEmail1">State</label>
              			<select formControlName="state" class="form-control" >
              				<option value="" disabled="disabled" > -- State -- </option>
              				<option *ngFor="let state of states" [value]=state.state_id >{{ state.state_name }}</option>
              			</select>
              			<span *ngIf="customerFrom.get('address').get('state').invalid && customerFrom.get('address').get('state').touched" class="font-italic text-danger">Select state</span>
		        	</div>
              		<div class="col-md-6 col-sm-12 col-xs-12">
              			<label for="exampleInputEmail1">District</label>
              			<select class="form-control" formControlName="district" >
              				<option value="" > -- District --</option>
              				<option *ngFor="let district of districts" [value]=district.district_id >{{ district.district_name }}</option>
              			</select>
              			<span *ngIf="customerFrom.get('address').get('district').invalid && customerFrom.get('address').get('district').touched" class="font-italic text-danger">Select district</span>
		        	</div>
              	</div>
		      </div>
		      <div class="form-group">
		        <label for="exampleInputEmail1">Pincode</label>
		        <input class="form-control" placeholder="Enter pincode" formControlName="pincode">
		        <span *ngIf="customerFrom.get('address').get('pincode').invalid && customerFrom.get('address').get('pincode').touched" class="font-italic text-danger">Enter valid pincode</span>
		      </div>
		  </div>
		</div>
	</div>
</div>
<hr>
<div class="row" >
	<div class="col-md-12 col-lg-12 col-xs-12" >
		<div class="card border-secondary mx-auto" formGroupName="credentials"  >
		  <div class="card-header bg-secondary text-white">Privacy</div>
		  <div class="card-body">
		    
		      <div class="form-group">
	            <div class="form-row">
	              <div class="col-md-6">
	                <label for="exampleInputPassword1">Password</label>
	                <input class="form-control" type="password" placeholder="Password" formControlName="password">
	              </div>
	              <div class="col-md-6">
	                <label for="exampleConfirmPassword">Confirm password</label>
	                <input class="form-control" type="password" placeholder="Confirm password" formControlName="confirmPassword">
	              </div>
	              <div class="col-md-12" *ngIf="customerFrom.get('credentials').invalid && customerFrom.get('credentials').touched" >
	              	<span class="text-danger font-italic" >Passwords does not match</span>
	              </div>
	            </div>
	          </div>

		  </div>
		</div>
		<div class="form-group">
            <div class="form-row">
            	<span class="text-danger font-italic" *ngIf="customerFrom.invalid && customerFrom.dirty" >Fill the form correctly.</span>
				<button type="submit" class="btn btn-primary btn-block btn-lg mt-3" [disabled]="customerFrom.invalid" >Save</button>
			</div>
		</div>
	</div>
</div>
</form>

