<ol class="breadcrumb">
	<li class="breadcrumb-item" >
	  <a routerLink="/customers/list" >{{ 'customers' | uppercase }}</a>
	</li>
  <li class="breadcrumb-item active">{{ title | uppercase }}</li>
</ol>
<div class="row">
    <div class="col-lg-6">
      	<div class="card mb-3">
          <div class="card-header">
            	<i class="fa fa-address-book" aria-hidden="true"></i> 
    			     Basic Details
               <div *ssaEditSave class="ssa-icon pull-right" >
                 <span>
                   <i class="fa fa-pencil-square" aria-hidden="true"></i>
                   edit
                 </span>
                 <span>
                   <i class="fa fa-check" aria-hidden="true"></i>
                   save
                 </span>
               </div>
          </div>
          <div class="card-body">
            <div class="row">
            	<div class="col-sm-4 text-center my-auto">
            		<img src="http://placehold.it/150X150" class="img-fluid rounded-circle" >
            	</div>
              <div class="col-sm-8 text-left my-auto">
                <div class="h4 mb-0 text-primary">{{ customer.basic.customer_name | uppercase }}</div>
                <div class="small text-muted">
                	<b>{{ customer.basic.customer_mobile }}</b>
                </div>
                <div class="small text-muted">
                	<b>{{ customer.basic.customer_email }}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer small text-muted">
          	Added at {{ customer.basic.customer_added_date | date : 'full' }} 
          </div>
        </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-map-marker"></i> Location Details
          <span class="ssa-icon pull-right" >
             <i class="fa fa-pencil-square" aria-hidden="true"></i>
             edit
           </span>
        </div>
        <div class="card-body">
          <p>
            {{ customer.address.address_street_1 }}, <br>
            {{ customer.address.address_street_2 }}, <br>
            {{ customer.address.address_area }}, <br>
            {{ customer.address.district }}, <br>
            {{ customer.address.state }}, <br>
            {{ customer.address.country + '-' + customer.address.address_zip }}<br>
          </p>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-header">
              <i class="fa fa-lock"></i> 
              Credentials
          </div>
          <div class="card-body">
            <button class="btn btn-danger" > 
              <i class="fa fa-lock"></i> change password 
            </button>
          </div>
        </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-money" aria-hidden="true"></i> Scheme Deatils</div>
        <div class="card-body">
        </div>
      </div>
    </div>
</div>